html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.gif);
}
 
@font-face {
    font-family: Dementia;
    src: url(../fonts/DementiaDemo.woff);
    src: url(../fonts/DementiaDemo.woff2);
}

@font-face {
    font-family: Typewriter;
    src: url(../fonts/AmericanTypewriter.woff);
    src: url(../fonts/AmericanTypewriter.woff2);
}

h1 {
    font-family: Dementia;
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 100px;
    color: white;
}

a {
    font-family: Typewriter;
    text-decoration: none;
    color: white;
    padding: 15px;
}

#container{
    text-align: center;
    position: relative;
    top: 30%;
}

img {
    width: 550px;
    height: 165px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
}