html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Dementia;
    src: url(../fonts/DementiaDemo.woff);
    src: url(../fonts/DementiaDemo.woff2);
}

body {
    background-image: url(../images/backgroundgallerygif.gif);
}

#HOME {
    font-family: Dementia;
    padding-left: 30%;
    position: relative;
    top: 5%;
    font-size: 100px;
    color: white;
    text-decoration: none;
}

div {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    left: 3%;
}
